* {
    font-family: "Niradei", Helvetica, sans-serif;
}

* > h3 {
    color: #808080;
    font-style: regular;
}

* > h3.normal {
    color: #000000;
    font-style: regular;
}

* > p {
    text-indent: 30px;
}

* > p.no-indent {
    text-indent: 0px;
}

* > code {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    background-color:#ccc;
    padding: 3px;
}

span.codeblock {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    background-color:#ccc;
    margin: 20px;
    padding: 10px;
}