.viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #F8F9FA;
}

.content {
    position: relative;
    top: 5%;
    background-image: linear-gradient(to right, #ff8181, #a20202);
    height: 95%;
}

.wave img {
    width: 100%;
}

.content-box {
    position: relative;
    width: 70%;
    left: 15%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.grid-item {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.grid-item .logo {
    width: 10%;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
}

.grid-item ul {
    margin: 0;
    padding: 0;
    line-height: 2em;
}

.grid-item ul li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.square {
    background-image: linear-gradient(to right, #ff8181, #a20202);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.square i {
    position: relative;
    top: 20%;
    color: white;
}

div.seperator {
    width: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
}