.grad-rect {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ff8181, #a20202);
    width: 100%;
    height: 85%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.wave img {
    width: 100%;
    position: absolute;
    bottom: 0%;

}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0 0;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.nav-item#logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
}

.nav-item#menu-item a {
    padding: 10px;
    margin: 5px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

div.content {
    padding: 0;
    margin: 50px 100px;
    color: white;
}

div.center-block {
    position: absolute;
    top: 25%;
    width: 35%;
    height: 100%;
    line-height: 1.5em;
}

div.center-block button {
    width: 40%;
    border: none;
    padding: 10px;
    background-color: inherit;
    color: white;
}

div.center-block button div {
    display: flex;
    align-items: center;
}

div.center-block button i {
    font-size: 4em;
    color: white;
}