body {
    background-image: url(../assets/angkor.jpg), linear-gradient(to bottom, green 100%, green 0%);
    /* cover background */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Niradei', Arial, Helvetica, sans-serif;
}

div.viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
}

div.viewport div.top-grad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom, #005500ff, #00550000);
    /* cover background */
    background-size: cover;
    background-repeat: no-repeat;
}

div.viewport div.bottom-grad {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, #005500ff, #00550000);
    /* cover background */
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    padding: 0;
    margin: 50px 100px;
}

.nav-cont {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-item {
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #005500ff;
}

div.center-text {
    vertical-align: center;
    position: absolute;
    top: 30%;
}

.big-bold-text {
    font-size: 3em;
    font-weight: bold;
}

.visit-button {
    color: green;
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    font-size: 1.2em;
}

.small-text {
    font-size: 1.2em;
}