#intro {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    margin: 40px;
    border: 2px solid black;
}

#main {
    background-color: #f33333;
    padding: 10px;
    text-align: left;
    margin: 30px;
    border: 2px solid black;
    box-sizing: border-box;
}

div[id="main"] p {
    color: #ff0;
    font-size: 1.2em;
    font-family: 'Niradei', Helvetica, sans-serif;
}