div {
    padding: 10px;
}

div#viewport {
    padding: 20px;
}

div.right-set {
    display: flex;
    justify-content: flex-end;
}

#peach-gradient, #purple-gradient, #blue-gradient, #aqua-gradient {
    padding: 15px 40px;
    border-radius: 30px;
    margin: 5px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
    border: none;
    color: white;
}

#peach-gradient {
    background-image: linear-gradient(to bottom left, #ff5349, #ffff7f);
}

#purple-gradient {
    background-image: linear-gradient(to bottom left, #6655eecc, magenta);
}

#blue-gradient {
    background-image: linear-gradient(to bottom left, #0000ff, #00eeff);
}

#aqua-gradient {
    background-image: linear-gradient(to top right, #0088ff, #00ff99);  
}

div.spaced {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.brand {
    min-width: 50px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    box-sizing: border-box;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
}

#facebook {
    background-color: #3b5998;
    color: white;
}

#twitter {
    background-color: #1da1f2;
    color: white;
}

#google-plus {
    background-color: #dd4b39;
    color: white;
}

#linkedin {
    background-color: #0077b5;
    color: white;
}

#instagram {
    background-color: #3f729b;
    color: white;
}

#pinterest {
    background-color: #cb2027;
    color: white;
}

#youtube {
    background-color: #ff0000;
    color: white;
}

#dribbble {
    background-color: #ea4c89;
    color: white;
}

#vk {
    background-color: #45668e;
    color: white;
}

#stackoverflow {
    background-color: #f48024;
    color: white;
}

#slack {
    background-color: #02ce7c;
    color: white;
}

#github {
    background-color: #333;
    color: white;
}

#mail {
    background-color: #666;
    color: white;
}

.solid {
    border: none;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 30px;
    color: white;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.solid#primary {
    background-color: #2b84fd;
}

.solid#default {
    background-color: #00bfac;
}

.solid#secondary {
    background-color: #b65fd8;
}

.solid#success {
    background-color: #00cd3b;
}

.solid#info {
    background-color: #00b7ec;
}

.solid#warning {
    background-color: #ff8100;
}

.solid#danger {
    background-color: #ff003e;
}

.transpar {
    background-color: inherit;
    border-radius: 30px;
    padding: 20px 30px;
    margin: 10px;
}

.transpar#primary-border {
    border: 3px solid #2b84fd;
    color: #2b84fd;
}

.transpar#default-border {
    border: 3px solid #00bfac;
    color: #00bfac;
}

.transpar#secondary-border {
    border: 3px solid #b65fd8;
    color: #b65fd8;
}

.transpar#success-border {
    border: 3px solid #00cd3b;
    color: #00cd3b;
}

.transpar#info-border {
    border: 3px solid #00b7ec;
    color: #00b7ec;
}

.transpar#warning-border {
    border: 3px solid #ff8100;
    color: #ff8100;
}

.transpar#danger-border {
    border: 3px solid #ff003e;
    color: #ff003e;
}