.viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    padding: 0;
    margin: 0;
}

.grad-rect {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ff8181, #a20202);
    width: 100%;
    height: 85%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.first-part {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.wave img {
    width: 100%;
    position: absolute;
    bottom: 0%;

}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0 0;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.nav-item#logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
}

.nav-item#menu-item a {
    padding: 10px;
    margin: 5px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

div.content {
    padding: 0;
    margin: 50px 100px;
    color: white;
}

div.center-block {
    position: absolute;
    top: 25%;
    width: 35%;
    height: 100%;
    line-height: 1.5em;
}

div.center-block button {
    width: 40%;
    border: none;
    padding: 10px;
    background-color: inherit;
    color: white;
}

div.center-block button div {
    display: flex;
    align-items: center;
}

div.center-block button i {
    font-size: 4em;
    color: white;
}

.second-part {
    position: relative;
    width: 100%;
    height: 100vh;
}

div.center-elem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 80%;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    justify-items: center;
    text-align: center;
}

div.grid-items {
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-items: center;
}

div.center-button {
    position: absolute;
    top: 100%;
    left: 45%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

div.center-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(to right, #ff8181, #a20202);
    color: white;
}

div.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.round {
    display: flex;
    border-radius: 50%;
    background-color: purple;
    width: 90px;
    height: 90px;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.round i {
    font-size: 3em;
    color: white;
}

.third-viewport {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #F8F9FA;
}

.third-content {
    position: relative;
    top: 5%;
    background-image: linear-gradient(to right, #ff8181, #a20202);
    height: 95%;
}

.wave2 img {
    width: 100%;
}

.content-box {
    position: relative;
    width: 70%;
    left: 15%;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.grid-item2 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.grid-item2 .logo {
    width: 10%;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
}

.grid-item2 ul {
    margin: 0;
    padding: 0;
    line-height: 2em;
}

.grid-item2 ul li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.square {
    background-image: linear-gradient(to right, #ff8181, #a20202);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.square i {
    position: relative;
    top: 20%;
    color: white;
}

div.seperator {
    width: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
}