* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, black 0%, black 35%, white 35%, white 100%);
    height: 400vh;
}

.imgbutton {
    border: none;
    background-color: inherit;
    color: white;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

nav {
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: white;
    margin: 0px 30px;
}

nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav > ul > li {
    padding: 10px 20px;
    font-size: 18px;
}

nav > div.cucker-buttons > button {
    font-size: 18px;
    background-color: inherit;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    margin: 0;
}

nav > div.cucker-buttons > button.name-card {
    background: white;
    color: #707070;
}

nav > div.cucker-buttons > button.name-card > i.fa-user-circle {
    font-size: 24px;
}

nav > div.cucker-buttons > button:hover:not(.name-card) {
    background-color: #ffffff30;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    width: min-content;
    margin: 0 auto;
    border-radius: 50px;
    padding: 0 10px;
}

.search-item {
    width: max-content;
}

.search-item {
    line-height: normal;
    padding: 0 50px;
}

.search-item-wrapper {
    padding: 10px;
    border-radius: 30px;
}

.search-item-header {
    font-size: 12px;
    margin: 0;
}

.search-item-question {
    font-size: 14px;
    margin: 0;
}

.nav-item-active {
    /*add small underline 9px rounded*/
    border-bottom: 2px solid white;
}

.search-bar {
    background-color: white;
}

.seperator {
    border-left: 1px solid #cecece;
    height: 30px;
}

.search-item .search-item-question {
    color: #707070;
}

.search-button {
    background-color: #FF385C;
    border: none;
    padding: 15px;
    border-radius: 30px;
}

.search-button > i {
    font-size: 20px;
    color: white;
}

.first-screen {
    color: white;
    margin-top: 200px;
    width: 100%;
}

.refugee-box {
    width: 80%;
    margin: 100px auto;
    background-color: #FF385C;
    border-radius: 10px;
}

.refugee-box > .content-box {
    padding: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.refugee-box > .content-box h3 {
    font-size: 36px;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.refugee-box > .content-box button {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
}

.curiosity-box {
    width: 80%;
    margin: 20px auto;
    background-image: url("../assets/hardwood.webp");
    border-radius: 10px;
    background-position: right 170px bottom 750px;
}

.curiosity-box > .content-box {
    padding: 70px;
    padding-top: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.curiosity-box > .content-box h3 {
    font-size: 36px;
    margin: 0;
    padding: 30px
}

.curiosity-box > .content-box h3 > ul {
    list-style-type: var("-");
    font-size: 24px;
}

.curiosity-box > .content-box button {
    padding: 15px 30px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, #590a99, #aa0aa5, #c70760), linear-gradient(white, white), linear-gradient(white, white);
    -webkit-background-clip: text, content-box, padding-box;
    background-clip: text, content-box, padding-box;
    -webkit-text-fill-color: transparent;
    border-radius: 30px;
    border: none;
}

/* for adding bg-color for btn */
.curiosity-box > .content-box button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* ----------------Mindle Section------------------------------------- */
h3.inspire{
    position: absolute;
width: 473px;
height: 49px;
left: 72px;
top: 1226px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;

color: #000000;
}
.sub-cat-img1{
    position: relative;
    width: 290px;
    height: 433px;
    left: 30px;
    top: 1340px;
    background: #FF6262;
    border-radius: 10px;
    box-sizing: border-box;
}
.sub-cat-img1 p{
    position: absolute;
    margin-top:250px;
    margin-left: 10px;
    color: white;
    font-size: 30px;
}
.sub-cat-img2{
    position: absolute;
    width: 290px;
    height: 433px;
    left: 360px;
    top: 1347px;
    
    background: #BB4C60;
    border-radius: 10px;
    box-sizing: border-box;
}
.sub-cat-img2 p{
    position: absolute;
    margin-top:250px;
    margin-left: 10px;
    color: white;
    font-size: 30px;
}
.sub-cat-img3{
    position: absolute;
    width: 290px;
    height: 433px;
    left: 690px;
    top: 1347px;

background: #EE627B;
border-radius: 10px;
}
.sub-cat-img3 p{
    position: absolute;
    margin-top:250px;
    margin-left: 10px;
    color: white;
    font-size: 30px;
}
.sub-cat-img4{
position: absolute;
width: 290px;
height: 433px;
left: 1020px;
top: 1347px;

background: #AB2364;
border-radius: 10px;
}
.sub-cat-img4 p{
    position: absolute;
    margin-top:250px;
    margin-left: 10px;
    color: white;
    font-size: 30px;
}
.image_inspire{
    position: absolute;
    width: 290px;
    height: 190.25px; 
}
h3.inspire1{
    position: absolute;
    width: 473px;
    height: 49px;
    left: 72px;
    top: 1813px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
}
/* .sub_cat_img5{
    position: absolute;
    width: 612px;
    height: 642px;
    left: 72px;
    top: 1893px;
    text-align: center;
} */
.div4{
    position: absolute;
    width:100%;
    max-width: 1339px;
    height: 488px;
    top: 2555px;
 
    box-sizing: border-box;
}
.Shop_Airbnb_gift_cards{

   
    margin-right: 890px;
    padding-top: 60px;
    padding-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
   
}
.Learn_more{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-left: 90px;
    background-color: #000000;
    color: white;
    padding-top: 5px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    border-radius: 10px;
}
.Learn_more:hover{
    background-color: #aa0aa5;
    transform: scale(1.1);
    transition: .4s;
}
img.card_3{
    position: absolute;
    max-width: fit-content;
    height: 430px;
    left: 496px;
    top: 2555px;
}