* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, black 0%, black 35%, white 35%, white 100%);
    height: 400vh;
}

.imgbutton {
    border: none;
    background-color: inherit;
    color: white;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

nav {
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: white;
    margin: 0px 30px;
}

nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav > ul > li {
    padding: 10px 20px;
    font-size: 18px;
}

nav > div.cucker-buttons > button {
    font-size: 18px;
    background-color: inherit;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    margin: 0;
}

nav > div.cucker-buttons > button.name-card {
    background: white;
    color: #707070;
}

nav > div.cucker-buttons > button.name-card > i.fa-user-circle {
    font-size: 24px;
}

nav > div.cucker-buttons > button:hover:not(.name-card) {
    background-color: #ffffff30;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    width: min-content;
    margin: 0 auto;
    border-radius: 50px;
    padding: 0 10px;
}

.search-item {
    width: max-content;
}

.search-item {
    line-height: normal;
    padding: 0 50px;
}

.search-item-wrapper {
    padding: 10px;
    border-radius: 30px;
}

.search-item-header {
    font-size: 12px;
    margin: 0;
}

.search-item-question {
    font-size: 14px;
    margin: 0;
}

.nav-item-active {
    /*add small underline 9px rounded*/
    border-bottom: 2px solid white;
}

.search-bar {
    background-color: white;
}

.seperator {
    border-left: 1px solid #cecece;
    height: 30px;
}

.search-item .search-item-question {
    color: #707070;
}

.search-button {
    background-color: #FF385C;
    border: none;
    padding: 15px;
    border-radius: 30px;
}

.search-button > i {
    font-size: 20px;
    color: white;
}

.first-screen {
    color: white;
    margin-top: 200px;
    width: 100%;
}

.refugee-box {
    width: 80%;
    margin: 100px auto;
    background-color: #FF385C;
    border-radius: 10px;
}

.refugee-box > .content-box {
    padding: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.refugee-box > .content-box h3 {
    font-size: 36px;
    margin: 0;
    padding: 30px
}

.refugee-box > .content-box button {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
}

.curiosity-box {
    width: 80%;
    margin: 0 auto;
    background-image: url("../assets/hardwood.webp");
    border-radius: 10px;
    background-position: right 170px bottom 750px;
}

.curiosity-box > .content-box {
    padding: 100px;
    padding-top: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.curiosity-box > .content-box h3 {
    font-size: 36px;
    margin: 0;
    padding: 30px
}

.curiosity-box > .content-box button {
    padding: 15px 30px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, #590a99, #aa0aa5, #c70760), linear-gradient(white, white), linear-gradient(white, white);
    -webkit-background-clip: text, content-box, padding-box;
    background-clip: text, content-box, padding-box;
    -webkit-text-fill-color: transparent;
    border-radius: 30px;
    border: none;
}

/* for adding bg-color for btn */
.curiosity-box > .content-box button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}